{% set interval = config.interval %}
{% set grid_size = config.grid_size %}
{% set view_mode = config.view_mode %}
{% extends 'layout.html' %}

{% block header %}
    <title>CI Dashboard</title>
    <script>
        interval = parseInt("{{interval}}");
        viewMode = "{{view_mode}}";
        startDashboardService();
    </script>
{% endblock %}
{% block filter %}
{% endblock %}

{% block content %}
    <div class="ui container" id="container">
        <div class="loading">
            <img src="/static/photos/loading.gif" width="80px">
        </div>
    </div>
{% endblock %}