
{% for repo in repos %}   

    <div class="child">
        <div id="repo.id" class="panel state-{{repo.last_build.state or 'none'}}">
            <div class="panel-top">
                    <a href="{{repo.info.url}}" target="_blank">{{repo.info.slug}}</a>
                    <img src="/static/photos/menu.png" class="menu" role="dialog" data-toggle="modal" data-slug="{{repo.info.slug}}" data-target="#modal">
             </div>   

            <div class="panel-middle">
                {% if repo.last_build %}
                    <div class="event">
                        <a><span class="event-type">{{repo.last_build.event}}</span></a> 
                        <a>{{repo.last_build.event_title}}</a>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <img class="icon" src="/static/photos/branch.png">
                        </div>
                        <div class="col-md-10" >
                            {{repo.last_build.branch}} 
                            <a href="{{repo.last_build.commit_url}}" target="_blank">
                                <code>{{repo.last_build.commit_sha}}</code>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <img class="icon img-circle" src="{{repo.last_build.commit_author_avatar}}">
                        </div>
                        <div class="col-md-10">
                            {{repo.last_build.commit_author_name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% for job in repo.last_build.jobs %}
                                <a href="{{job.url}}" target="_blank" title="job {{job.number}} [{{job.state|capitalize}}]">
                                    <div class="job-div state-{{job.state}} float-right"></div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    No builds for this repository
                {% endif %}
            </div>

            <div class="panel-bottom">
                {% if repo.last_build %}
                    <a href="{{repo.last_build.url}}" target="_blank"><strong># {{repo.last_build.number}}</strong></a>
                    <p>{{repo.last_build.time_event}}</p>
                    <p><strong>{{repo.last_build.state}}</strong></p>
                {% endif %}
            </div>
        </div>
    </div>

{% endfor %}