<div class="ui four column doubling stackable grid">

    {% for repo in repos %}   

        <div class="column">
            <div class="ui card repo state-{{repo.last_build.state or 'none'}}">
                <div class="content">
                    <a class="header center aligned" href="{{repo.info.url}}">{{repo.info.slug}}</a>
                    <div class="description">
                        {% if repo.last_build %}
                            <p><span class="ui label">{{repo.last_build.event}}</span>{{repo.last_build.event_title}}</p>
                            <div class="details">
                                <img class="ui image" src="/static/photos/branch.png"> {{repo.last_build.branch}} {{repo.last_build.commit_sha}}  
                            </div>
                            <div class="details">
                                <img class="ui avatar image" src="{{repo.last_build.commit_author_avatar}}"> {{repo.last_build.commit_author_name}}
                            </div>
                        {% else %}
                            <p>No builds for this repository</p>
                        {% endif %}
                    </div>
                </div>
                <div class="extra content footer center aligned">
                    {% if repo.last_build %}
                        <a href="{{repo.last_build.url}}"><span class="left floated">{{repo.last_build.number}}</span></a>  
                        <span>{{repo.last_build.time_event}}</span>
                        <span class="right floated">{{repo.last_build.state}}</span>
                    {% endif %}
                </div>
            </div>
        </div> 

    {% endfor %}

</div>
